
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="page-content">

        <div class="dash-wrapper bg-dark">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 row-cols-xxl-5">
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Items Listed</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.TotalProductCount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Sketch Items Listed</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.sketchcount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Mandala Items Listed</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.mandalacount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Coloured Items Listed</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.coloredcount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Items In Wishlist</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.TotalWishlistingsCount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Items In Cart</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.CartTblsCount</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Pre Booked Items</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.prebookCount</h3>
                        </div>
                    </div>
                </div>

                <div class="col-6 border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Contact Enquires</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.contactEnquiresCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 border-bottom border-end border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Art Enquires</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.artEnquiresCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Reviews</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.reviewsCount</h3>
                        </div>
                    </div>
                </div>

                <div class="col-6 border-end border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Users Registered</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.userCount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 border-bottom border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Orders</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.TotalOrdersCount</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
