@{
    ViewBag.Title = "My Account";
}
@model DeeptiArt.Models.RegisteredUsersTbl
<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Profile</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="~/"><i class="fa-solid fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Table -->
    <div class="py-6">
        <div class="container">
            <div class="row">
                <!-- Profile Menu -->
                @Html.Partial("_ProfileMenu")
                <!-- End Profile Menu -->
                <!-- Content -->
                <div class="col-lg-8 col-xxl-9">
                    <div class="card mb-5">
                        <div class="card-header py-3">
                            <h5 class="m-0">Profile Update</h5>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("accountprofile", "user", FormMethod.Post, new { @id = "updateaccountprofile" }))
                            {
                                <input hidden type="text" name="Id" value="@Model.Id" />
                                <input hidden type="text" name="Password" value="@Model.Password" />
                                <input hidden type="text" name="rts" value="@Model.rts" />
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">First Name<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.First_Name" name="First_Name" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Last Name<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.Last_Name" name="Last_Name" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">UserName<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.UserName" name="UserName" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">State<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.State" name="State" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">City<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.City" name="City" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Email address<span class="text-danger">*</span></label>
                                        <input type="email" value="@Model.Email" name="Email" class="form-control" id="exampleInputEmail3" placeholder="E-mail">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Mobile Number<span class="text-danger">*</span></label>
                                        <input type="text" value="@Model.Mobile" name="Mobile" class="form-control" placeholder="Mobile">
                                    </div>
                                    <div class="col-sm-12 mb-3">
                                        <label class="form-label">Address</label>
                                        <input type="text" value="@Model.Address" name="Address" class="form-control" placeholder="Address">
                                    </div>
                                    <h6 id="accountprofilelbl" class="text-danger py-2"></h6>
                                    <div class="col-12 pt-2">
                                        <button type="submit" class="btn btn-primary py-2 px-4 rounded-1">Save changes</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Table -->
</main>
